<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        전체 매퍼중에서 유일한 값을 사용 한다.-->
<!--        해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)-->
<!--        그리고 dao에서 namespace와 일치하여야 된다.-->
<mapper namespace="com.mycompany.app.codegroup.CodeGroupMapper">

    <!--                                        select 결과물 받을 객체-->
    <resultMap id="resultMapObj" type="com.mycompany.app.codegroup.CodeGroup"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        SELECT seq, name, delNy
        FROM
            codegroup
        WHERE
            name LIKE CONCAT('%',#{shKeyword},'%')
    </select>

    <select id="selectOne" resultMap="resultMapObj">
        SELECT seq, name, delNy
        FROM
            codegroup
        WHERE
            seq = #{seq}
    </select>

    <update id="update">
        UPDATE codegroup
        SET name = #{name}
        WHERE seq = #{seq}
    </update>

    <delete id="delete">
        DELETE
        FROM codegroup
        WHERE seq = #{seq}
    </delete>

    <insert id="insert">
        INSERT INTO codegroup
            (name)
        VALUES (#{name})

    </insert>

    <update id="uelete">
        UPDATE codegroup
        SET delNy = #{delNy}
        WHERE seq = #{seq}
    </update>



</mapper>