<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.infra.board.BoardMapper">

    <!-- 결과 객체를 매핑하기 위한 resultMap 정의 -->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.board.BoardVo"></resultMap>

    <!-- 필요한 필드 목록을 담은 SQL 코드 조각 정의 -->
    <sql id="abc">
                seq,
                writer,
                writing,
                regdate,
                title
    </sql>

    <!-- 게시판 목록 조회의 공통 조건을 담은 SQL 코드 조각 정의 -->
    <sql id="selectCommon">
        FROM
        board
        WHERE 1=1
        <!-- 검색어가 주어졌을 때 조건 추가 -->
        <if test="shKeyword != null and !shKeyword.equals('')">AND delNy LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

    <!-- 게시글 개수 조회 쿼리 -->
    <select id="selectOneCount" resultType="Integer">
        SELECT count(*)
        <include refid="selectCommon" /> <!-- 공통 조건을 포함하여 쿼리 작성 -->
    </select>

    <!-- 게시글 목록 조회 쿼리 -->
    <select id="selectList" resultMap="resultMapObj">
        SELECT
        <include refid="abc" />
        FROM
        board
        ORDER BY regdate DESC
    </select>


    <!-- 특정 게시글 조회 쿼리 -->
    <select id="selectOne" resultMap="resultMapObj">
        SELECT
        <include refid="abc"/>
        FROM
        board
        WHERE
        seq = #{seq}
    </select>

    <!-- 새로운 게시글 추가 쿼리 -->
    <insert id="insert">
        INSERT INTO
        board
        (
        writer,
        writing,
        regdate,
        title
        )
        VALUES
        (
        #{writer},
        #{writing},
        NOW(), <!-- 현재 날짜 및 시간 사용 -->
        #{title}
        )
    </insert>

    <!-- 게시글 수정 쿼리 -->
    <update id="update">
        UPDATE
        board
        SET
        writing = #{writing},
        title = #{title}
        WHERE
        seq = #{seq}
    </update>


</mapper>
