<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.app.infra.board.BoardMapper">

    <!--                                        select 결과물 받을 객체-->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.board.BoardVo"></resultMap>

    <sql id="abc">
        seq,
        writer,
        writing,
        regdate,
        title
    </sql>

    <sql id="selectCommon">
        FROM
        board
        WHERE 1=1
        <if test="shKeyword != null and !shKeyword.equals('')">AND delNy LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

    <select id="selectOneCount" resultType="Integer">
        SELECT count(*)
        <include refid="selectCommon" />
    </select>

    <select id="selectList" resultMap="resultMapObj">
        SELECT bb.* FROM (
        SELECT
        <include refid="abc" />
        <include refid="selectCommon" />
        ) bb
        LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
    </select>

    <select id="selectOne" resultMap="resultMapObj">
        SELECT
        <include refid="abc"/>
        FROM
        board
        WHERE
        seq = #{seq}
    </select>

    <insert id="insert">
        INSERT INTO
        board
        (
        writer,
        writing,
        regdate,
        title
        )
        VALUES
        (
        #{writer},
        #{writing},
        NOW(),
        #{title}
        )
    </insert>



</mapper>