<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        전체 매퍼중에서 유일한 값을 사용 한다.-->
<!--        해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)-->
<!--        그리고 dao에서 namespace와 일치하여야 된다.-->

<mapper namespace="com.mycompany.app.infra.dodomall.DodomallMapper">

    <!--                                        select 결과물 받을 객체-->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.dodomall.Dodomall"></resultMap>

    <sql id="abc">
        seq,
        defaultNy,
        itemImageUrl,
        itemDescription,
        itemName,
        itemDiscountRate,
        itemPrice1,
        itemPrice2,
        itemDeliveryStatus,
        delNy
    </sql>

    <sql id="selectCommon">
        FROM
        item
        WHERE 1=1
        <if test="shKeyword != null and !shKeyword.equals('')">AND delNy LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

    <select id="selectOneCount" resultType="Integer">
        SELECT count(*)
        <include refid="selectCommon" />
    </select>

    <select id="selectList" resultMap="resultMapObj">
        SELECT bb.* FROM (
        SELECT
        <include refid="abc" />
        <include refid="selectCommon" />
        ) bb
        LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
    </select>


    <select id="selectOne" resultMap="resultMapObj">
        SELECT
            <include refid="abc"/>
        FROM
            item
        WHERE
            seq = #{seq}
    </select>

    <update id="update">
        UPDATE
            item
        SET
            defaultNy = #{defaultNy},
            itemImageUrl = #{itemImageUrl},
            itemDescription = #{itemDescription},
            itemName = #{itemName},
            itemDiscountRate = #{itemDiscountRate},
            itemPrice1 = #{itemPrice1},
            itemPrice2 = #{itemPrice2},
            itemDeliveryStatus = #{itemDeliveryStatus},
            delNy = #{delNy}
        WHERE
            seq = #{seq}
    </update>

    <insert id="insert">
        INSERT INTO
            item
        (
            defaultNy,
            itemImageUrl,
            itemDescription,
            itemName,
            itemDiscountRate,
            itemPrice1,
            itemPrice2,
            itemDeliveryStatus,
            delNy
        )
        VALUES
        (
            #{defaultNy},
            #{itemImageUrl},
            #{itemDescription},
            #{itemName},
            #{itemDiscountRate},
            #{itemPrice1},
            #{itemPrice2},
            #{itemDeliveryStatus},
            #{delNy}
        )
    </insert>

    <delete id="delete">
        DELETE FROM
            item
        WHERE
            seq = #{seq}
    </delete>

    <update id="ulete">
        UPDATE
            item
        SET
            delNy = #{delNy}
        WHERE
            seq = #{seq}
    </update>

</mapper>